/*  Ein Kommentar in CSS */

/*  Der * definiert den "global reset" Hier werden alle Elemente angesprochen, die später nicht anders definiert werden. */
*
{
	font-family:  arial, sans-serif;
	font-size:100%;
}


html,body
{
	height:100%;
}

body 
{
	background:white;
	color:black;
	margin:0px;
}
#mama
{
	height:900px;
	width:1500px;
	_background: chartreuse;
	margin: auto;
}
#eins
{
	height: 230px;
	_background: cadetblue;
	display: flex;
	justify-content: space-between;
	_align-items: center;
}
#logo
{
	height: 230px;
	width: 500px;
	_background: khaki;
	display: flex;
	justify-content: start;

}
#logo_bild
{
	height: 133px;
	width: 133px;
	_background: red;
	margin-top: 48px;
	background: url(../images/logo.png);

}
#logo_text
{
	height: 70px;
	width: 300px;
	_background: salmon;
	margin-top: 85px;
	margin-left: 30px;
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: 6ch;
	font-family: 'Playfair Display', serif;
	font-style: italic;


}

#navi
{
	width: 1000px;
	height: 230px;
	_background: hotpink;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-left: 100px;
	
	




}
.navipunkt a
{

	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: xx-large;
	padding-right: -100px;

}
.navipunkt a:hover
{

	color:rgb(247, 168, 136);
}
#zwei
{
	height: 600px;
	_background: goldenrod;
	display: flex;
	justify-content: space-between;

}
#bild
{
	width: 750px;
	height: 600px;
	_background: indigo;
	


}
#inhalt
{
	width: 750px;
	height: 600px;
	background: rgb(213, 234, 237);
	font-family: 'Playfair Display', serif ;
	font-weight: 500;
	font-size: 7ch;
	padding-left: 50px;



}

.news
{
	height: 203px;
	display: flex;
	justify-content: space-between;

}
.news_bild
{
	height: 200px;
	width: 250px;
	_background: red;


}
.news_text
{
	height: 200px;
	border-bottom:solid 2px gray ;
	width: 500px;
	background: rgb(213, 234, 237);


}
#tagebuch
{
	width: 1500px;
	height: 600px;
	background: rgb(247, 168, 136);
	display: flex;
	justify-content: space-between;

}
.blog
{
	height: 600px;
	width: 480px;
	border: solid 1px black;
	font-family: 'Playfair Display', serif ;
	font-weight: 500;
	font-size: 7ch;
	background: rgba(240, 255, 255, .5);


}
.blog_text
{
	font-family: 'Playfair Display', serif ;
	font-weight: 500;
	font-size: 1ch;
	text-align: center;


}
.blog_text p
{
	font-size: x-large;


}
#inhalt p
{
	font-size: x-large;

}
#fotos
{
	width:  1500px;
	height: 600px;
	background: rgb(194, 194, 194);


}
#fotos h1
{

	font-family: 'Playfair Display', serif ;
	font-weight: 500;
	font-size: 5ch;
	text-align: center;

}
#fotos h2
{

	font-family: 'Playfair Display', serif ;
	font-weight: 500;
	font-size: 3ch;
	text-align: center;
	position: relative;
	top: -30px;

}
#drei
{
	height: 70px;
	_background: blueviolet;
	display: flex;
	justify-content: space-between;

}

#navi_zwei
{
	height: 70px;
	width: 200px;
	_background: forestgreen;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.navipunkt_zwei
{
	margin-top: 30px;
	font-size: larger;

}
#responsiv
{
	display: none;
}
#icons2
{	
	height: 70px;
	width: 300px;
	_background: skyblue;
	position: relative;
	left: 30px;
	top: 20px;
}

a
{
	color:black;
	text-decoration:none;
}



/* MEDIA QUERY */
@media screen and (max-width:800px) {
	
	#mama
	{
		height:auto;
		width:100%;
	}
	#eins
	{
		width: 96%;
		display: block;
		height: auto;
		margin: auto;
	}
	#logo
	{
		width: 96%;
		display: block;
		margin: auto ;
	}
	#logo_bild
	{
	margin: auto;
	}
	
	#logo_text
	{

		width: 96%;
		margin-top: 0px;
		margin-left: 0px;
		display: block;
		font-size: 4ch;
		text-align: center;
	}
	
	#navi
	{
		height: auto;
		width: 96%;
		text-align: center;
		margin: auto;
		display: block;	
	}
	
	#zwei
	{
		width: 96%;
		height: auto;
		display: block;
		margin: auto;
	}
	#bild
	{
		width: 100%;
		height: auto;

	}
	#inhalt
	{
		height: 450px;
		width:100%;
		font-size: 5ch;
		padding-left: 0px;
	
	
	
	}
	.news
	{
	height: 160px;
	}
	.news_bild
	{
	height: 150px;
	width: 100%;
	}	
	.news_text
	{
	height: 150px;
	}
	#tagebuch
	{
		height: 1950px;
		width: 96%;
		display: block;


	}
	.blog
	{
		height: auto;
		width: 100%;
		font-size: 7ch;
		


	}
	.blog_text
	{
		
		font-family: 'Playfair Display', serif ;
		font-weight: 500;
		font-size: 1ch;
		text-align: center;


	}
	.blog_text p
	{
		font-size: x-large;


	}
	#datenschutz
	{

		font-size: x-large;

	}
	#fadeshow
	{

		display: none;
	}
	#responsiv
{
	display: block;
}
	iframe
	{
		width: 100%;
		height: auto;

	}

	#inhalt p
	{
		width:96%;	
		font-size: large;

	}

	#drei
	{
		height: auto;
		width: 100%;
		display: block;
	}
	#navi_zwei
	{
		width: 100%;

	}
	.navipunkt_zwei
	{
		margin-top: 0px;
		font-size: larger;
	
	}
	#icons2
	{	
		width: 100%;
		position: static ;
		left: 0px;
		top: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#fadeshow
	{
		width: 96%;
		height: auto;


	}
img
{
	max-width:100%;
	height:auto;
}
	
	
}